FORMAT: 1A
HOST: http://private-01ace7-scout7.apiary-mock.com/

# Scout

API для приложения Scout

#Group Группы товаров 

## Дерево групп товаров [/api/group_goods{?active}]

### Получить все группы товаров в виде дерева [GET]

+ Parameters 
    + active (string, optional) - Если параметр равен "true", то возвращается дерево, с использованием только активных групп товаров.

+ Response 200 (application/json)

    + Body

            [ 
                {
                    "id_group": 0,
                    "name_group": "Корневая группа товаров",
                    "active":true,
                    "children": 
                    [
                        { 
                            "id_group":1,
                            "name_group":"Хлебобулочные изделия",
                            "active":true,
                            "children": []
                        },
                        { 
                            "id_group":2,
                            "name_group":"Мясо",
                            "active":true,
                            "children": []
                        },
                        { 
                            "id_group":3,
                            "name_group":"Безалкогольные напитки",
                            "active":true,
                            "children": []
                        }
                    ]
                }
            ]
        
    + Schema 
    
            {
                "$schema": "http://json-schema.org/draft-06/schema#",
                "type": "object",
                "properties": {
                    "id_group": {
                        "type": "integer"
                    },
                    "name_group": {
                        "type": "string"
                    },
                    "active": {
                        "type":"boolean"
                    },
                    "children": {
                        "type":"array"
                        "items": {
                            "type":"object"
                        }
                    }
                }
            }

## Группа товаров [/api/group_goods/{id_group}]

Параметр id_group при получении, изменении, деактивировании группы указывает на целевую группу. 
При добавлении группы - на родительскую группу товаров

+ Parameters
    + id_group (number) - Код группы товаров - целое число

### Добавить группу товаров [POST]

+ Request (application/json)

    + Body

            { 
                "name_group":"Алкогольные напитки"
            }
            
    + Schema
    
            {
                "type":"object",
                "properties": {
                    "name_group":"string"
                }
            }
            
            
+ Response 201 (application/json)

     + Body

            { 
                "id_group":4,
                "name_group":"Алкогольные напитки",
                "active":true,
                "children": []
            }
            
    + Schema
    
            {
                "$schema": "http://json-schema.org/draft-06/schema#",
                "type": "object",
                "properties": {
                    "id_group": {
                        "type": "integer"
                    },
                    "name_group": {
                        "type": "string"
                    },
                    "active": {
                        "type":"boolean"
                    },
                    "children": {
                        "type":"array"
                        "items": {
                            "type":"object"
                        }
                    }
                }
            }

### Получить группу товаров [GET]

+ Response 200 (application/json)

    + Headers

            Location: /api/group_goods/1

    + Body

            { 
                "id_group":1,
                "name_group":"Хлебобулочные изделия",
                "active":true,
                "children": []
            }
            
    + Schema 
    
            {
                "$schema": "http://json-schema.org/draft-06/schema#",
                "type": "object",
                "properties": {
                    "id_group": {
                        "type": "integer"
                    },
                    "name_group": {
                        "type": "string"
                    },
                    "active": {
                        "type":"boolean"
                    },
                    "children": {
                        "type":"array"
                        "items": {
                            "type":"object"
                        }
                    }
                }
            }
    
### Изменить группу товаров [PUT]

+ Request (application/json)

            { 
                "name_group":"Алкогольные напитки"
                "active":true,
            }
            
+ Response 204
            
### Деактивировать группу товаров [DELETE]

+ Response 204

## Перемещение группы товаров [/api/group_goods/id_group/{id_group}/id_parent_group/{id_parent_group}]

Перемещает группу товаров от одного родителя к другому

+ Parameters
    + id_group (number) - Код группы товаров - целое число
    + id_parent_group (number) - Код родительской группы, куда нужно переместить группу товаров 

### Переместить группу товаров [PUT]

+ Response 204

#Group Товары

## Список товаров [/api/goods{?id_group,immediate_parent,active,offset,limit}]

### Получить все товары [GET]

Получение списка товаров. Если не указывать код группы, возвращаются все товары, если immediate_parent не равен "true", будут возвращены также товары, которые входят в подчиненные группы, указаной группы товаров 

+ Parameters
    + id_group (integer, optional) - Код группы товаров, к которой принадлежит товар
    + immediate_parent (string, optional) - Если параметр равен "true", то возвращаются товары, принадлежащие непосредственно к данной группе
    + active (string, optional) - Если параметр равен "true", то возвращаются только активные товары.
    + offset (integer, optional) - Возвращать данные, начиная с указанного номера записи
    + limit (integer, optional) - Возвращать указанное количество записей
    
+ Response 200 (application/json)

    + Body
        
            [
                {
                    "id_goods":1,
                    "id_group":1,
                    "id_tax":1,
                    "name_goods":"Хлеб черный",
                    "sort_order":"",
                    "id_printer":1,
                    "type_goods":0,
                    "active":true
                },
                {
                    "id_goods":2,
                    "id_group":1,
                    "id_tax":1,
                    "name_goods":"Хлеб белый",
                    "sort_order":"",
                    "id_printer":1,
                    "type_goods":0,
                    "active":true
                },
                {
                    "id_goods":3,
                    "id_group":1,
                    "id_tax":1,
                    "name_goods":"Батон",
                    "sort_order":"",
                    "id_printer":1,
                    "type_goods":0,
                    "active":true
                }
            ]
    
    + Schema
    
            {
                "$schema": "http://json-schema.org/draft-06/schema#",
                "type":"array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id_goods": {
                            "type": "integer"
                        },
                        "id_group": {
                            "type": "integer"
                        },
                        "id_tax": {
                            "type": "integer"
                        },
                        "name_goods": {
                            "type": "string"
                        },
                        "sort_order": {
                            "type": "string"
                        },
                        "id_printer": {
                            "type": "integer"
                        },
                        "type_goods": {
                            "type": "integer"
                        },
                        "active": {
                            "type":"boolean"
                        }
                    }
                }
            }
    
    
### Добавить товар [POST]

Добавление нового товара

+ Request (application/json)

    + Body

            {
                    "id_group":1,
                    "id_tax":1,
                    "name_goods":"Булочка с маком",
                    "sort_order":"",
                    "id_printer":1,
                    "type_goods":0,
                    "active":true
                },
            
    + Schema
    
            {
                "$schema": "http://json-schema.org/draft-06/schema#",
                "type":"array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id_group": {
                            "type": "integer"
                        },
                        "id_tax": {
                            "type": "integer"
                        },
                        "name_goods": {
                            "type": "string"
                        },
                        "sort_order": {
                            "type": "string"
                        },
                        "id_printer": {
                            "type": "integer"
                        },
                        "type_goods": {
                            "type": "integer"
                        },
                        "active": {
                            "type":"boolean"
                        }
                    }
                }
            }
            
            
+ Response 201 (application/json)

     + Body

            {
                    "id_goods":5,
                    "id_group":1,
                    "id_tax":1,
                    "name_goods":"Булочка с маком",
                    "sort_order":"",
                    "id_printer":1,
                    "type_goods":0,
                    "active":true
                }
            
    + Schema
    
            {
                "$schema": "http://json-schema.org/draft-06/schema#",
                "type":"array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id_goods": {
                            "type": "integer"
                        },
                        "id_group": {
                            "type": "integer"
                        },
                        "id_tax": {
                            "type": "integer"
                        },
                        "name_goods": {
                            "type": "string"
                        },
                        "sort_order": {
                            "type": "string"
                        },
                        "id_printer": {
                            "type": "integer"
                        },
                        "type_goods": {
                            "type": "integer"
                        },
                        "active": {
                            "type":"boolean"
                        }
                    }
                }
            }


## Товар [/api/goods/{id_goods}]

Получение товара по коду

+ Parameters
    + id_goods (integer, required) - Код товара

### Получить товар [GET]

+ Response 200 (application/json)

    + Headers

            Location: /api/goods/1

    + Body

            {
                "id_goods":5,
                "id_group":1,
                "id_tax":1,
                "name_goods":"Булочка с маком",
                "sort_order":"",
                "id_printer":1,
                "type_goods":0,
                "active":true
            }
            
    + Schema
    
            {
                "$schema": "http://json-schema.org/draft-06/schema#",
                "type":"array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id_goods": {
                            "type": "integer"
                        },
                        "id_group": {
                            "type": "integer"
                        },
                        "id_tax": {
                            "type": "integer"
                        },
                        "name_goods": {
                            "type": "string"
                        },
                        "sort_order": {
                            "type": "string"
                        },
                        "id_printer": {
                            "type": "integer"
                        },
                        "type_goods": {
                            "type": "integer"
                        },
                        "active": {
                            "type":"boolean"
                        }
                    }
                }
            }
            
### Изменить товар [PUT]

+ Parameters
    + id_goods (integer, required) - Код товара

+ Request (application/json)

            {
                "id_group":1,
                "id_tax":1,
                "name_goods":"Булочка с маком",
                "sort_order":"",
                "id_printer":1,
                "type_goods":0,
                "active":true
            }
            
+ Response 204
            
### Деактивировать товар [DELETE]

+ Response 204            

## Атрибуты товара [/api/goods/{id_goods}/attributes]


+ Parameters
    + id_goods (integer, required) - Код товара

### Получить атрибуты товара [GET]

+ Response 200 (application/json)

    + Headers

            Location: /api/goods/1/attributes

    + Body

            {
                "id_goods":5,
                "control_rest":true,
                "extern_service_id":0,
                "print_name_goods":"Булочка с маком",
                "free_price":false,
                "only_bar_code":false,
                "control_showcase":false,
                "min_order":0.00,
                "id_client":1,
                "use_series":false,
                "id_text":null,
                "id_modificator_group":0
            }
            
    + Schema